<div class="nav nav-hidden">
	<div class="top">
		<h1>Australia</h1>
		<hr/>
		<div class="social-icon-int facebook"><i></i></div><div class="social-icon-int twitter"><i></i></div>
	</div>
	<div class="nav-item-wrapper">
		<div class="line-wrapper">
			<div class="nav-line"></div>
			<a href="#" class="nav-start-end js-nav-item" id="nav-intro" data-nav="1">
				<div class="nav-item-icon"></div>
			</a>
			<a href="#chapter-1" class="nav-item js-nav-item" id="nav-chapter-1" data-nav="2">
				<div class="nav-item-icon"><i></i></div>
				<div class="nav-item-label">The Mines</div>
			</a>
			<a href="#chapter-2" class="nav-item js-nav-item" id="nav-chapter-2" data-nav="3">
				<div class="nav-item-icon"><i></i></div>
				<div class="nav-item-label">The Mines</div>
			</a>
			<a href="#chapter-3" class="nav-item js-nav-item" id="nav-chapter-3" data-nav="4">
				<div class="nav-item-icon"><i></i></div>
				<div class="nav-item-label">The Mines</div>
			</a>
			<a href="#" class="nav-start-end js-nav-item" id="nav-outro" data-nav="5">
				<div class="nav-item-icon"></div>
			</a>
		</div>
	</div>
	<div class="bottom">
		<a class="mute-button js-mute faux-link"><span class="js-mute-text">Mute</span> <i class="mute"></i></a>
		<hr/>
		<a href="http://theguardian.com">Back to the Guardian</a>
	</div>
</div>
<div class="mobile-nav">
	<div class="left">Climate bomb</div>
	<div class="right">
		<!-- <a href="#">Mute <i class="mute"></i></a> -->
		<div class="social-wrapper">
			<div class="social-icon-int facebook"><i></i></div><div class="social-icon-int twitter"><i></i></div>
		</div>
	</div>
	<div class="center"><span class="hide-mobile">AUSTRALIA</span><span class="change">Introduction</span></div>
</div>