<div class="nav nav-hidden">
	<div class="nav-item-wrapper">
		<div class="nav-item" id="nav-chapter-1">
			<div class="front"><span class="the">the</span><span class="line"></span><span class="place">mines</span></div>
			<div class="back"></div>
		</div>
		<div class="nav-item" id="nav-chapter-2">
			<div class="front"><span class="the">the</span><span class="line"></span><span class="place">drive</span></div>
			<div class="back"></div>
		</div>
		<div class="nav-item" id="nav-chapter-3">
			<div class="front"><span class="the">the</span><span class="line"></span><span class="place">coast</span></div>
			<div class="back"></div>
		</div>
		<div class="nav-item" id="nav-chapter-4">
			<div class="front"><span class="the">the</span><span class="line"></span><span class="place">reef</span></div>
			<div class="back"></div>
		</div>
	</div>
	<div class="ticker">
		
	</div>
</div>